<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/welcome">Tattoos Catalog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <!-- No auth -->
      <li *ngIf="!authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/auth/login">Login</a>
      </li>
      <li *ngIf="!authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/auth/register">Register</a>
      </li>

      <!-- auth -->
      <li *ngIf="authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/tattoos/list">Tattoo Collection</a>
      </li>

      <li *ngIf="authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/tattoos/add">Add Tattoo</a>
      </li>

      <li *ngIf="authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/tattoos/myTattoo">My Collection</a>
      </li>

      <!-- ///admin -->
      <li *ngIf="authService.isAdmin() && authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/users/list">Users</a>
      </li>

      <li *ngIf="authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>