<div class="container">

  <div class="register-box">
    <div class="register-form">
      <div class="register-title">
        <h1 class="title">Register your account</h1>
      </div>
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="form">
        <div class="register">
          <div class="col-md-12 center">

            <div class="form-group">
              <label for="email">Email</label>
              <input required type="email" id="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="model.email">
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Invalid email!
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input required type="password" id="password" name="password" class="form-control" minlength="6" #password="ngModel" [(ngModel)]="model.password">
              <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password must be more than 6 symbols.
              </div>
            </div>

            <div class="form-group">
              <label for="firstName">First Name</label>
              <input required type="text" id="firstName" name="firstName" class="form-control" pattern="^[A-Z][A-Za-z]+$" #firstName="ngModel"
                [(ngModel)]="model.firstName">
              <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                First Name must contain only letters and start with a capital letter.
              </div>
            </div>

            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input required type="text" id="lastName" class="form-control" pattern="^[A-Z][A-Za-z]+$" name="lastName" [(ngModel)]="model.lastName"
                #lastName="ngModel">
              <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                Last Name must contain only letters and start with a capital letter.
              </div>
            </div>

          </div>
          <div class="button">
            <button type="submit" class="btn btn-dark" [disabled]="registerForm.form.invalid">Register</button>
          </div>
        </div>
      </form>
    </div>
    <div class="picture">
      <div class="image">
        <img src="../../../../assets/pic_tattoo/33.jpg" alt="feathers" class="resize-pic">
      </div>
    </div>
  </div>
</div>