@import url('https://fonts.googleapis.com/css?family=Kavivanar');
.container {
    font-family: 'Kavivanar', cursive;
    margin-top: 40px;
    text-align: center;
}

.login-title {
    display: block;
    text-align: center;
    color:black;
    text-shadow: 2px 2px rgb(252, 227, 173);
    font-size: 55px;
}

.login {
    display: flow-root;
}

.login-box {
    display: flex;
}

.form {
    margin-top: 3.5em;
}

.center {
    margin: 0 auto;
}

.button {
    display: flex;
    
}

.btn {
    justify-content: center;
    margin: 10px auto;
    background: rgb(143, 143, 143);
}

.login,
.picture {
    width: 35rem;
    height: 30rem;
}

.image {
    width: 100%;
    overflow: hidden;
}

.picture {
    border:9px solid whitesmoke;
    border-radius:15px;
    width: 100%;
    overflow: hidden;

}

.resize-pic {
    width: 100%;
}

label {
    font-size: 25px;
    color: black;
    text-shadow: 1px 1px rgb(252, 227, 173);
}