<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1 class="text-center">My Page</h1>
            <h3 class="text-center">Listing my tattoos</h3>
        </div>
    </div>
    <div class="row space-top">
        <div *ngFor="let tattoo of tattoos | async" class="col-md-4 box">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <blockquote class="card-blockquote">
                        <h4>{{tattoo.nameTattoo}}</h4>
                        <div class="img">
                            <img src="{{tattoo.image}}" alt="{{tattoo.name}}" 
                            class="pic img-responsive" style="max-height: 200px;">
                        </div>
                        <p class="description">{{tattoo.description}}</p>

                        <div class="buttons">
                            <a routerLink="/tattoos/details/{{tattoo.id}}" class="btn btn-info">Details</a>
                            <a routerLink="/tattoos/edit/{{tattoo.id}}" style="cursor: pointer" class="btn btn-warning">Edit</a>
                          </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>