<div class="container">
  <div class="welcome">
    <h1 class="text-center">
      Welcome to our Tattoos Catalog!
    </h1>
    <div class="questions">
      <h4 class="welcome-text">Do you like it tattoo?</h4>
      <h4 class="welcome-text">Do you want it?</h4>
      <h3 class="welcome-text">Choose from our
        <span>
          <a routerLink="/auth/login">Catalog</a>
        </span>
      </h3>
    </div>
  </div>
  <div class="welcome-img">
    <div class="border-wel-img">
      <img src="../../../assets/pic_tattoo/20.jpg" alt="welcome">
    </div>
  </div>
</div>